BAIST/BAIS3150/ababcock1BAIS3150CodeSampleSite/App_WebReferences/BAISTServices/MyWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="BAISTServices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="BAISTServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">My First Web Service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="BAISTServices">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomersByCountry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomersByCountryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomersByCountryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsItPrime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="number" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsItPrimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsItPrimeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BinaryToDecimal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="binary" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BinaryToDecimalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BinaryToDecimalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MathematicalMaximum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MathematicalMaximumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MathematicalMaximumResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToBase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="value" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="_base" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToBaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ToBaseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomersByCountrySoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomersByCountry" />
  </wsdl:message>
  <wsdl:message name="GetCustomersByCountrySoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomersByCountryResponse" />
  </wsdl:message>
  <wsdl:message name="IsItPrimeSoapIn">
    <wsdl:part name="parameters" element="tns:IsItPrime" />
  </wsdl:message>
  <wsdl:message name="IsItPrimeSoapOut">
    <wsdl:part name="parameters" element="tns:IsItPrimeResponse" />
  </wsdl:message>
  <wsdl:message name="BinaryToDecimalSoapIn">
    <wsdl:part name="parameters" element="tns:BinaryToDecimal" />
  </wsdl:message>
  <wsdl:message name="BinaryToDecimalSoapOut">
    <wsdl:part name="parameters" element="tns:BinaryToDecimalResponse" />
  </wsdl:message>
  <wsdl:message name="MathematicalMaximumSoapIn">
    <wsdl:part name="parameters" element="tns:MathematicalMaximum" />
  </wsdl:message>
  <wsdl:message name="MathematicalMaximumSoapOut">
    <wsdl:part name="parameters" element="tns:MathematicalMaximumResponse" />
  </wsdl:message>
  <wsdl:message name="ToBaseSoapIn">
    <wsdl:part name="parameters" element="tns:ToBase" />
  </wsdl:message>
  <wsdl:message name="ToBaseSoapOut">
    <wsdl:part name="parameters" element="tns:ToBaseResponse" />
  </wsdl:message>
  <wsdl:portType name="ababcock1BAIS3150ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomersByCountry">
      <wsdl:input message="tns:GetCustomersByCountrySoapIn" />
      <wsdl:output message="tns:GetCustomersByCountrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsItPrime">
      <wsdl:input message="tns:IsItPrimeSoapIn" />
      <wsdl:output message="tns:IsItPrimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BinaryToDecimal">
      <wsdl:input message="tns:BinaryToDecimalSoapIn" />
      <wsdl:output message="tns:BinaryToDecimalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MathematicalMaximum">
      <wsdl:input message="tns:MathematicalMaximumSoapIn" />
      <wsdl:output message="tns:MathematicalMaximumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ToBase">
      <wsdl:input message="tns:ToBaseSoapIn" />
      <wsdl:output message="tns:ToBaseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ababcock1BAIS3150ServiceSoap" type="tns:ababcock1BAIS3150ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="BAISTServices/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomersByCountry">
      <soap:operation soapAction="BAISTServices/GetCustomersByCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsItPrime">
      <soap:operation soapAction="BAISTServices/IsItPrime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BinaryToDecimal">
      <soap:operation soapAction="BAISTServices/BinaryToDecimal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MathematicalMaximum">
      <soap:operation soapAction="BAISTServices/MathematicalMaximum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToBase">
      <soap:operation soapAction="BAISTServices/ToBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ababcock1BAIS3150ServiceSoap12" type="tns:ababcock1BAIS3150ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="BAISTServices/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomersByCountry">
      <soap12:operation soapAction="BAISTServices/GetCustomersByCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsItPrime">
      <soap12:operation soapAction="BAISTServices/IsItPrime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BinaryToDecimal">
      <soap12:operation soapAction="BAISTServices/BinaryToDecimal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MathematicalMaximum">
      <soap12:operation soapAction="BAISTServices/MathematicalMaximum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToBase">
      <soap12:operation soapAction="BAISTServices/ToBase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ababcock1BAIS3150Service">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">My First Web Service</wsdl:documentation>
    <wsdl:port name="ababcock1BAIS3150ServiceSoap" binding="tns:ababcock1BAIS3150ServiceSoap">
      <soap:address location="http://localhost:59224/MyWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ababcock1BAIS3150ServiceSoap12" binding="tns:ababcock1BAIS3150ServiceSoap12">
      <soap12:address location="http://localhost:59224/MyWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>