BAIST/BAIS3150/WebServiceProviderDemo/WebServiceConsumerDemo/Web References/BAIS3150WebService/BAIS3150WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuoteOfTheDay">
        <s:complexType />
      </s:element>
      <s:element name="QuoteOfTheDayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QuoteOfTheDayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="HelloNameSoapIn">
    <wsdl:part name="parameters" element="tns:HelloName" />
  </wsdl:message>
  <wsdl:message name="HelloNameSoapOut">
    <wsdl:part name="parameters" element="tns:HelloNameResponse" />
  </wsdl:message>
  <wsdl:message name="QuoteOfTheDaySoapIn">
    <wsdl:part name="parameters" element="tns:QuoteOfTheDay" />
  </wsdl:message>
  <wsdl:message name="QuoteOfTheDaySoapOut">
    <wsdl:part name="parameters" element="tns:QuoteOfTheDayResponse" />
  </wsdl:message>
  <wsdl:portType name="BAIS3150WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloName">
      <wsdl:input message="tns:HelloNameSoapIn" />
      <wsdl:output message="tns:HelloNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QuoteOfTheDay">
      <wsdl:input message="tns:QuoteOfTheDaySoapIn" />
      <wsdl:output message="tns:QuoteOfTheDaySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BAIS3150WebServiceSoap" type="tns:BAIS3150WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloName">
      <soap:operation soapAction="http://tempuri.org/HelloName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuoteOfTheDay">
      <soap:operation soapAction="http://tempuri.org/QuoteOfTheDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BAIS3150WebServiceSoap12" type="tns:BAIS3150WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloName">
      <soap12:operation soapAction="http://tempuri.org/HelloName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuoteOfTheDay">
      <soap12:operation soapAction="http://tempuri.org/QuoteOfTheDay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BAIS3150WebService">
    <wsdl:port name="BAIS3150WebServiceSoap" binding="tns:BAIS3150WebServiceSoap">
      <soap:address location="http://localhost:53264/BAIS3150WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="BAIS3150WebServiceSoap12" binding="tns:BAIS3150WebServiceSoap12">
      <soap12:address location="http://localhost:53264/BAIS3150WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>